<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На головну</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eum labore maiores! Aliquid aspernatur at aut commodi dolores eos ex excepturi facilis inventore laboriosam modi odio officia, perspiciatis sapiente voluptatibus? A in libero maiores quaerat quod repellendus tenetur, vero! Ab debitis ipsa iste iure libero maiores praesentium repellat, sed soluta?
    </p>
  </div>
</div>
