.posts {
  max-width: 600px;
  margin: 0 auto;

  .clock-wrapper {
    width: 100%;
    min-height: 20px;
    margin: 0 auto;

    span {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        display: flex;
        margin-right: 5px;
      }
    }
  }

  .loading-wrapper {
    display: flex;
    margin: 0 auto;
    .loading {
      max-width: 200px;
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .posts {
    max-width: 90%;
  }
}
