<div class="home-page-wrapper">
  <ng-container *ngFor="let post of posts$ | async; let i = index" >

    <div class="box">

      <img *ngIf="pictures[i]; else default_picture" src="{{ pictures[i] }}" alt="blog_image">

      <ng-template #default_picture>
        <img src="https://source.unsplash.com/collection/190727/1600x900" alt="random-blog-picture">
      </ng-template>

      <app-post [post]="post"></app-post>
    </div>

  </ng-container>
</div>



<div *ngIf="showLoader">
  <div class="loading-wrapper"></div>
  <p class="text-center">Завантажую пости...</p>
  <img class="loading" src="../../assets/loading.gif" alt="loading">
</div>
