<div
  class="posts"
  *ngIf="posts$ | async as posts; else loading">

  <div class="clock-wrapper" *ngIf="time$">
    <p>Current time: {{ time$  | async | date:'HH:mm:ss' }}</p>
  </div>

  <div class="search-wrapper">
    <input #searchInput type="text" name="search" id="search"
     (input)="onSearchChange($event.target.value)"/>

    <ul id="results"></ul>
  </div>

  <app-post
    *ngFor="let post of posts"
    [post]="post">
  </app-post>

</div>

<ng-template #loading>
  <div class="loading-wrapper">

  </div>
  <p class="text-center">Завантажую пости...</p>
  <img class="loading" src="../../assets/loading.gif" alt="loading">
</ng-template>
